.slider-year,
.slider-year .noUi-handle {
  box-shadow: none;
}
.slider__year,
.slider__stock {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 4px;
  &--value1,
  &--value2 {
    position: absolute;
    width: 45px;
    height: 25px;
    background: #ffffff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 4px #000;
    font-size: 14px;
    padding: 2px;
  }
  &--value2{
    top: -2px;
    right: 0px;
    @media(max-width:1080px) {
      right: -12px;
    }
  }
  &--value1{
    top: -2px;
    left: 0px;
    @media(max-width:1080px) {
      left: -12px;
    }
  }

}
.slider__description{
  width: 25%;
  margin: 0 auto;
  font-size: 16px;
    width: 80px;
}
#slider-round {
  height: 8px;
}

#slider-round .noUi-connect {
  background: #ff0000;
}
.noUi-connect,
.noUi-connects,
.noUi-touch-area{
  cursor: pointer;
}
#slider-round .noUi-handle {
  height: 12px;
  width: 12px;
  top: -3.5px;
  right: -2px;
  border-radius: 9px;
}
