.btn {
  display: block;
  width: 207px;
  height: 52px;
  background-color: $colorprimary;
  color: $colorgray-dark-xx;
  @include fontGeorgia;
  font-size: $fontsizebtn;
  border-radius: 100px;
  transition: background-color .2s ease-in;
  &:hover {
    background-color: $colorprimary-light;
  }
}

.btn__white {
  width: 187px;
  background: #ffffff00;
  text-align: center;
  border: 2px solid $colorprimary-light;
  margin-bottom: 20px;
}
.btn--pets {
  width: 100%;
  max-width: 261px;
  height: 52px;
}
