.btn{
  display: block;
  border-radius: 15px;
  padding: 5px;
  margin: 0 5px 5px 0;
  background: rgba(0, 0, 0, 0);
  border: 1px solid red;
  &:hover{
    background:#fff;
  }
  &__color {
    width: 40px;
    border:1px solid #fff ;
    &:hover{
      width: 50px;
      box-shadow: 2px 2px  red;
    }
  }

}