.popup{
  position: absolute;
  top: 70px;
  left: 5%;
  display:none;
  width: 90%;
  height: 500px;
  background: #a1949400;
  padding: 50px;
  border-radius: 50px;
  &__title{
    font-family: 'PT Serif', serif;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    width:90%;
    margin: 0 auto;
    background: #fffafa00;
    text-align: center;
    color: #5da7ec;
    text-shadow: 0 0 15px #ffff00;
  }
  &__text{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'PT Serif' serif;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    color: #5da7ec;
    text-shadow: 0 0 10px #ffff00;
  }
}
