.filter__checkbox {
  position: relative;
  width: 70%;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  input {
    position: absolute;
    left: 105px;
    bottom: 3px;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border: 2px solid red;
  }
}
