.filter__checkbox{
  width: 70px;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  input {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border:2px solid red;
  }
}