.filter {
  display: flex;
  justify-content: space-between;
  &__input {
    width: 40%;
    height: 33.333%;
    background: #a297c8;
    padding-left: 20px;
  }
  &__search #search{
    display: block;
    background: rgba(0, 0, 0, 0.398);
    color:aqua;
    width: 80%;
    border-radius: 15px ;
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 10px;
    &::placeholder {
      // padding-left: 10px;
      color: #a297c8;
    }
  }
  &__name{
    margin-bottom: 25px;
  }
  &__brand {
    width: 100%;
  }
  &__btn {
    width: 60%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding-top: 5px;
    align-items: center;
    font-size: 13px;
  }
  &__btn > div {
    margin-right: 5px;
  }
  &__btn--brand,
  &__btn--color,
  &__btn--ram {
    display: flex;
    align-items: center;
    height: 45px;
    & > div {
      margin-right: 15px;
    }
  }
}

#search {
  width: 100%;
}
