.filter {
  display: flex;
  justify-content: space-between;
  &__name {
    width: 40%;
    height: 33.333%;
    background: #d8b4b4;
    padding-left: 20px;
  }
  &__brand {
    width: 100%;
    max-width: 60%;
  }
  &__btn {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding-top: 5px;
    align-items: center;
    font-size: 13px;
  }
  &__btn > div {
    margin-right: 5px;
  }
  &__btn--color,
  &__btn--ram {
    display: flex;
    & > div {
      margin-right: 15px;
    }
  }
}

#search {
  width: 100%;
}
