.filter {
  display: flex;
  justify-content: space-between;
  &__input {
    width: 40%;
    height: 33.333%;
    padding-left: 20px;
  }
  &__search{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    padding-top: 5px;
  }
  &__search #search {
    display: block;
    background: rgb(0, 0, 0);
    color: #ffffff;
    width: 80%;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 10px;
    box-shadow: 0 0 10px #000;
    &::placeholder {
      // padding-left: 10px;
      color: #a4a1b0;
    }
  }
  &__name {
    position: relative;
    margin-bottom: 25px;
  }
  &__clean {
    position: absolute;
    top: 47px;
    right: 12%;
    width: 22px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    transition: border 0.2s linear;
    &:hover {
      border: 1px solid #ff0000;
      &::after,
      &::before {
        background: #ff0000;
      }
    }
    &::after,
    &::before {
      position: absolute;
      content: "";
      top: 45%;
      left: 23%;
      width: 10px;
      height: 2px;
      background: #fff;
      transition: background 0.2s linear;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
    &.active{
      display: none;
    }
  }
  &__brand {
    width: 100%;
  }
  &__btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
    width: 60%;
    height: 290px;
    margin-left: 10px;
    padding-top: 5px;
    align-items: center;
    font-size: 17px;
    @media(max-width:1080px) {
      font-size: 15px;
    }
  }
  &__btn > div {
    margin-right: 5px;
  }
  &__btn--reset,
  &__btn--brand,
  &__btn--color,
  &__btn--ram {
    display: flex;
    align-items: center;
    height: 55px;
    margin-bottom: 10px;
    & > div {
      margin-right: 15px;
    }
  }
  &__brand,
  &__color,
  &__ram,
  &__reset {
    width: 100%;
  }
}

#search {
  width: 100%;
  height: 25px;
  padding: 3px;
  font-size: 19px;
}
