.pets__slider {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.slider__cards {
  @include flexHeader;
  justify-content: center;
  // flex-wrap: wrap;
  overflow: hidden;
  column-gap: 90px;
  max-width: 1000px;
  margin: 0 auto;
  @media (max-width: 1279px) {
    gap: 40px;
    width: 708px;
    .none {
      display: none;
    }
  }
  @media (max-width: 767px) {
    width: 300px;
  }
}

.slider__blocks {
  @include flexHeader;
  flex-direction: column;
  align-items: center;
  min-width: 270px;
  border-radius: 10px;
  letter-spacing: 1.8px;
  background-color: $colorgray-light-s;
  margin-bottom: 70px;
  transition: background-color 0.3s ease-in, box-shadow 0.4s linear;
  &:hover {
    cursor: pointer;
    background-color: $colorwhite;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    .btn__white {
      background-color: $colorprimary-light;
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 122px;
  }
}
.slider__img {
  width: 100%;
  margin-bottom: 30px;
}
.slider__title,
.popup__title {
  width: auto;
  @include fontGeorgia;
  font-size: 20px;
  line-height: 1.2;
  color: $colorgray-dark-l;
  margin-bottom: 30px;

  // .btn__white {
}
.popup__title{
  letter-spacing: 0.04em;
}
.slider__cards--our {
  width: 100%;
  max-width: 1200px;
  column-gap: 40px;
  flex-wrap: wrap;
  @media (max-width: 1279px) {
    max-width: 708px;
    margin-bottom: 15px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.slider--our {
  margin-bottom: 40px;
  @media (max-width: 1279px) {
    margin: 0;
  }
}

.our--title {
  margin-bottom: 29px;
}

.our__pets--slider {
  letter-spacing: 1.2px;
}

@media (max-width: 767px) {
  .none-320 {
    display: none;
  }
}
