.about {
  margin-bottom: 90px;
  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding-top: 80px;
    column-gap: 120px;
    @media (max-width: 1279px) {
      padding-top: 64px;
    }
  }
  &__image {
    width: 25%;
    height: 408px;
    @media (max-width:1279px) {
      width: 43%;
      margin-top: 57px;
    }
  }
  &__descr {
    width: 36%;
    max-width: 430px;
    @media (max-width: 1279px) {
      width: 61%;
    }
  }
  &__title {
    width: 370px;
    margin-bottom: 27px;
  }

  &__text {
    @include fontArial;
    font-size: $fontsizeall;
    p {
      color: $colorgray-dark-x;
      line-height: 1.6;
      padding-bottom: 14px;
    }
  }
}
.title {
  @include fontGeorgia;
  font-size: $fontsizetitle;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.19;
  // margin-bottom: 10px;}
}
