.card {
  position: relative;
  padding: 10px;
  width: 30%;
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  border: 2px solid #8d8d8d;
  border-radius: 15px;
  transition: box-shadow 0.2s linear;
  @media (max-width:1080px) {
    height: 460px;
    width: 45%;
  }
  cursor: pointer;
  &__img {
    display: block;
    width: 120px;
    height: 80px;
    margin: 0 auto;
    padding: 5px;
  }
  & > div {
    text-align-last: left;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.373);
    background: #eaeaea;
  }
  &.active{
    background: #fefefe;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.373);
    &:hover{
      box-shadow: 0 0 10px rgba(242, 255, 0, 0.864);

    }
  }
  &::after
  {
    display: none;
    position: absolute;
    content: "";
    width: 45px;
    height:45px;
    bottom: 5%;
    right: 5%;
    background-image: url('./img/nsdfvbcn-nsd.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  &.active {
    &::before,
    &::after {
      display: block;
    }
  }
}
.card > div {
  width: 100%;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 10px;
}
