@import "../node_modules/normalize.css/normalize.css";
@import './components/_wrapper';
@import './components/_header';
@import './components/_basket';
@import './components/_footer';

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 18px;
}