.car {
  position: relative;
  width: 110px;
  height: 50px;
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
  }
  &__name{
    position: absolute;
    left: 10px;
  }
  &__icon{
    position: absolute;
    top: 8px;
    width: 100%;
    height: 50px;

  }
}
.racing {
  display: flex;
  align-items: center;
}