.about__content {
  display: flex;
  justify-content: center;
  column-gap: 120px;
}
.about__image{
  width: 100%;
  max-width: 300px;
  height:408px ;
}
.about__descr {
  width: 100%;
  max-width: 430px;
}
.about__title {
  width: 100%;
  max-width: 370px;
  margin-bottom: 28px;
}
.title{
  @include fontGeorgia;
  font-size: $fontsizetitle;
  font-weight: 400;
  letter-spacing: 1.3px;
  line-height: 1.15;
  // margin-bottom: 10px;

}
.about__text {
  @include fontArial;
  font-size: $fontsizeall;
  p{
    line-height: 1.6;
    padding-bottom: 12px;
  }
}
