.about {
  margin-bottom: 90px;
  &__content {
    display: flex;
    justify-content: center;
    column-gap: 120px;
  }
  &__image {
    width: 100%;
    max-width: 300px;
    height: 408px;
  }
  &__descr {
    width: 100%;
    max-width: 430px;
  }
  &__title {
    width: 100%;
    max-width: 370px;
    margin-bottom: 27px;
  }

  &__text {
    @include fontArial;
    font-size: $fontsizeall;
    p {
      color: $colorgray-dark-x;
      line-height: 1.6;
      padding-bottom: 14px;
    }
  }
}
.title {
  @include fontGeorgia;
  font-size: $fontsizetitle;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 1.15;
  // margin-bottom: 10px;}
}
