footer {
  display: block;
}
.footer {
  background: -moz-linear-gradient(90deg, #4d3c31 0%, #211f20 100%);
  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(90deg, #4d3c31, #211f20 100% 100%);
  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, #5b483a, rgba(38, 36, 37, 1) 100%);
  // /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262425', endColorstr='#5B483A', GradientType=0 );
  // /* ie 10+ */
  background: -ms-linear-gradient(90deg, #4d3c31 0%, #211f20 100%) 100%;
  /* global 94%+ browsers support */
  background: linear-gradient(90deg, #4d3c31 0%, #211f20 100%);
  &__content {
    @include fontGeorgia;
    @include flexHeader;
    letter-spacing: 1.2px;
    padding-top: 38px;
    line-height: 1.6;
    margin: 0 auto;
    a {
      font-size: 20px;
      color: $colorprimary-light;
      transition: color 0.2s ease,
      text-decoration 2s linear;
      &:hover {
        text-decoration: underline;
        color: $colorprimary;
      }
    }
  }
  &__title {
    margin-bottom: 42px;
  }
  &__contact {
    width: 278px;
    height: 240px;
    color: $colorwhite;
    margin-bottom: 30px;
  }
  &__adress {
    position: relative;
    width: 302px;
    height: 234px;
    margin-bottom: 35px;
  }
  &__img {
    width: 300px;
    height: 310px;
    background-image: url("../img/footer-puppy.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.title__contact {
  color: $colorwhite;
  line-height: 1.2;
  letter-spacing:1.6px;
}
.title__place {
  margin-bottom: 34px;

}
.footer__mail,
.footer__phone {
  padding-left: 35px;
  position: relative;
  margin-bottom: 40px;
  text-align: center;
}
.footer__phone {
  padding-left: 22px;
}
.footer__place--boston{
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.1px;
  position: relative;
  padding-left: 18px;
  text-align: center;
  margin-bottom: 31px;
  span{
    padding-left: 17px;
  }
}
.footer__place--london{
  position: relative;
  padding-left: 42px;
  margin-bottom: 30px;
}
