.pets {
  background-color:$colorgray-light-l;
  &__content {
    @include flexHeader;
    flex-direction: column;
  }
}


.title--pets {
  padding-top: 83px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 61px;
  color: $colorgray-dark-xx;
  .title{
    line-height: 1.2;
  }
}
.title--pets-our {
  padding-top: 83px;
}