.start__screen {
  margin-top: 60px;
  color: $colorwhite;
  // background-color: black;
  background-image: url('../img/start-screen-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.start__content {
  @include flexHeader;
  height: auto;
}
.start__description {
  display: flex;
  flex-direction: column;
  margin-top: 86px;
  width: 100%;
  max-width: 460px;
}
.content__title {
  @include fontGeorgia;
  width: 100%;
  max-width: 320px;
  color: $colorwhite;
  font-size: $fontsizstart;
  line-height: 1.2;
  margin-bottom: 22px;
}
.start__text p {
  color: $colorgray-dark-s;
  line-height: 1.7;
  margin-bottom: 42px;
}
.start__image {
  margin-top: 180px;
  width: 100%;
  max-width: 698px;
  height: 728px;
}
